<h1>Listing Postings</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Journal</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postings.each do |posting| %>
      <tr>
        <td><%= posting.account_id %></td>
        <td><%= posting.journal_id %></td>
        <td><%= posting.amount %></td>
        <td><%= link_to 'Show', posting %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Posting', new_posting_path %>
