<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :transaction_type %><br>
    <%= f.select :transaction_type, %w(DEPOSIT WITHDRAWAL) %>
  </div>
  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.select :account_id, Account.user_accounts.map { |a| [a.name, a.id] } %>
  </div>
  <div class="field">
    <%= f.label :amount, 'Amount (in cents)' %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
