<h1>Listing Transactions for <%= @account.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Transaction type</th>
      <th scope="col">Account</th>
      <th scope="col">Amount</th>
      <th scope="col">Journal</th>
      <th scope="col">Note</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.account_id %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.journal_id %></td>
        <td><%= transaction.note %></td>
        <td><%= link_to 'Show', account_transaction_path(@account,transaction) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_account_transaction_path(@account) %>
