<h1>Listing Accounts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Balance</th>
      <th scope="col">APY</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <th scope="row"><%= link_to account.name, account %></th>
        <td><%= display_amount(account.balance) %></td>
        <td><%= account.annual_percentage_rate || 0.0 %>% (<%= display_amount(account.interest_earned(7.days)) %> per week)</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
