<h1>Account: <%= @account.name %></h1>
<%= link_to 'Edit', edit_account_path(@account) %>
<br/>
<%= link_to '< All accounts', accounts_path %>

<h2>Details</h2>
<p>
    <b>Balance:</b> <%= display_amount(@account.balance) %><br><br>
    <b>Annual percentage rate:</b> <%= @account.annual_percentage_rate || 0.0 %>%<br>
    (Current balance would earn <%= display_amount(@account.interest_earned(7.days)) %> per week, <%= display_amount(@account.interest_earned(1.year)) %> per year)
</p>

<h2>
  Transactions
</h2>
<p>
  <small><%= link_to 'Deposit', new_account_transaction_path(@account, transaction: {transaction_type: 'DEPOSIT'}) %></small>
  <small><%= link_to 'Withdraw', new_account_transaction_path(@account, transaction: {transaction_type: 'WITHDRAWAL'}) %></small>
</p>

<% postings = @account.postings.order('created_at DESC').includes(journal: :txn).page(params[:page]) %>

<% if postings.size == 0 %>
  You don't have any transactions yet. <%= link_to 'Deposit something?', new_account_transaction_path(@account, transaction: {transaction_type: 'DEPOSIT'}) %>
<% else %>
  <%= paginate postings, theme: 'small' %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Transaction type</th>
        <th scope="col">Amount</th>
        <th scope="col">Note</th>
      </tr>
    </thead>

    <tbody>
      <% postings.each do |posting| %>
        <tr>
          <td><%= posting.journal.created_at %></td>
          <td><%= posting.journal.transaction_type %></td>
          <td><%= display_amount(posting.amount) %></td>
          <td><%= posting.journal.notes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate postings, theme: 'small' %>
<% end %>


