<h1>Account: <%= @account.name %></h1>
<%= link_to 'Edit', edit_account_path(@account) %>

<h2>Transactions</h2>

<table>
  <thead>
    <tr>
      <th>Transaction type</th>
      <th>Note</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account.transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.note %></td>
        <td><%= transaction.amount %></td>
        <td><%= link_to 'Show', [@account,transaction] %></td>
        <td><%= link_to 'Edit', edit_account_transaction_path(@account,transaction) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<td><%= link_to 'Deposit', new_account_transaction_path(@account, transaction: {transaction_type: 'DEPOSIT'}) %></td>
<td><%= link_to 'Withdraw', new_account_transaction_path(@account, transaction: {transaction_type: 'WITHDRAWAL'}) %></td>
<%= link_to 'Back', accounts_path %>

